body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}
.new-notes {
    background: #fff;
    margin: 130px 0 40px 0;
    position: relative;
    padding: 10px 10px 10px 50px;
    border-radius: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 20px 0 rgba(0, 0, 0, 0.1);
}
.new-notes {
    margin: 70px;
    width: 70%;
    font-size: 24px;
    font-family:inherit;
    font-weight: 100;
    line-height: 0em;
    color: inherit;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    cursor: text;
}
.headerdiv {
    display: inline-block;
    width: 100px;
    font-family: 'Product Sans',Arial,sans-serif;
    font-size: 22px;
    line-height: 50px;
    padding-left: 8px;
    top: -2.5px;
    vertical-align: middle;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.headerBanner {
    border-bottom: 1px solid #dadce0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(218, 220, 224);
    top: 0;
    width: 100%;
}
